version: '3.7'

services:
  prometheus:
    image: prom/prometheus:v2.21.0
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    volumes:
      - ./prometheus/:/etc/prometheus/
    ports:
      - 9090:9090
    links:
      - clamav-prometheus-exporter:clamav-prometheus-exporter

  clamav-prometheus-exporter:
    image: rekzi/clamav-prometheus-exporter:latest
    command:
      - '--clamav-address=clamav'
    links:
      - clamav:clamav

  clamav:
    image: mkodockx/docker-clamav